/* --- FLEXBOX STICKY FOOTER --- */

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent Chrome, Opera, and Safari from
 *    letting these items shrink to smaller than their content's default
 *    minimum size.
 */
.site-body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 1 */
}
.site-header,
.site-footer {
  flex-shrink: 0; /* 2 */
}
.site-content {
  flex: 1 0 auto; /* 2 */
}


/* --- TYPOGRAPHY --- */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Rock Salt', cursive;
  margin: 30px;
}

.navbar-brand {
  font-family: 'Rock Salt', cursive;
  color: #fff;
}

.citation-info {
  color: #fff;
}

.citation-info a {
  color: #fff;
  text-decoration: underline;
}


/* --- FOOTER --- */

.site-footer {
    background-color: #101010;
    padding: 20px;
    color: #fff;
}

.site-footer p {
    margin-bottom: 0;
    color: #fff;
}

.site-footer p > a {
    color: #fff;
    text-decoration: underline;
}


/* --- PANELS --- */
.overlay-panel {
  background-color: rgba(255, 255, 255, 0.9);
}

.new-job-body {
  background-color: #ff3432;
  background-image: url('../images/primal-logo-bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}
